* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul li{
    list-style: none;
  }
  
  @media only screen and (min-width: 375px) {
    .headline {
      margin-top: 70px;
      padding-bottom: 4rem;
      border-bottom-left-radius: 5rem;
      background-image:
        url(./Images/headerShapesMobile.png),
        url(./Images/headerBackgroundMobile@2x.png);
      background-size: cover;
    }}
    
@media only screen and (min-width: 768px) {
    
    .headline {
      width: 100%;
      height: 100vh;
      background-color: #fff;
      border-bottom-left-radius: 70px;
      margin-top: 70px;
      background-image: url(./Images/Headerbg.png);
      background-size: 1397.4px 721.46px;
      background-position: right;
      background-repeat: no-repeat;
    }
    #About-container{
      border-top-right-radius: 100px;
      width: 100%;
    }
}